asgiref==3.7.2
attrs==23.2.0
certifi==2023.5.7
charset-normalizer==3.1.0
cloudinary==1.38.0
coreapi==2.3.3
coreschema==0.0.4
distlib==0.3.7
Django==4.2.10
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-environ==0.11.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.1
drf-yasg==1.21.5
filelock==3.13.1
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.2
packaging==23.1
pillow==10.2.0
platformdirs==4.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
referencing==0.33.0
requests==2.31.0
rpds-py==0.18.0
ruamel.yaml==0.17.28
ruamel.yaml.clib==0.2.7
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.0.2
virtualenv==20.24.7
